/* Boostrapのカスタマイズ専用 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */
html, body { height: 100%; }

body { 
  margin-top: 40px;
  background: #e0e0e0;
}


/* NavBar */
header {
  background-color: #30bd61;
}

.navbar {
  min-height: 40px !important;
  height: 40px;
}

// Menu Font
a.fa-bars {
  float: left;
  color: #048931;
  font-size: 34px;
  padding: 3px 10px;
  &:hover {
    text-decoration: none;
  }
}

// ページタイトル
header > .navbar-logo {
  float: left;
  font-size: 34px;
  font-weight: bold;
  color: white;
  text-transform: uppercase; 
  letter-spacing: -0.1em;
  margin-top: -5px;
  margin-left: 10px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// ログインボタン
header > .btn {
  float: right;
  font-weight: bold;
  margin: 3.5px;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: -0.2em;
}

/* メイン画面 */



